<ul class="menu{% if menu_modifier %} {{ menu_modifier }}{% endif %}">
  {% for item in items %}
    <li class="menu__item">
      <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
  {% endfor %}
</ul>
